h3 {
    font-family: 'EB Garamond', serif;
    font-size:20px;
}
h4 {
    font-size:17px;
}

.nav.center {
    float:left;left:50%;position:relative;
}

.nav.center li {
    float:left;
    left:-50%;
    position:relative;
}

header.jumbotron {
    background: url("endlessload.jpg") ;
    background-position: center 40%;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom:0 ;
    margin-bottom: 0;
}

header h1.jumbotron-h1 {
    text-decoration: none;
    border-bottom: 0;
    color: black;
    font-family: 'Coming Soon', cursive;
    text-align: center;
    margin:260px 0 320px 0;
}

/*
.jumbotron-h1:visited {
    text-decoration: none;
    border-bottom:0;
    color: black;
}
.jumbotron-h1:hover {
    text-decoration: none;
    border-bottom:0;
    color: black;
}
.jumbotron-h1:active {
    text-decoration: none;
    border-bottom:0;
    color: black;
}
*/

#menu-wrap {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
}

#menu-wrap .row {
    color: white;
}

#menu-wrap .row .menu-button {
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 20px;
    padding: 10px 0 10px 0;
    text-decoration: none;
}

#menu-wrap a:visited {
    text-decoration: none;
    color: white;
}
#menu-wrap a:hover {
    text-decoration: none;
    color: white;
    background-color: rgba(0,0,0,0.9);
}
#menu-wrap a:active {
    text-decoration: none;
    color: white;
}


.fixed{
    position: fixed;
    top: 0px;
    z-index: 9999;
}

 .menu-button {
    color: white;
}


#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 77%;
}
#page-top a {
    background: rgba(0,0,0,0.6);
    text-decoration: none;
    color: #fff;
    width: 80px;
    height: 80px;
    padding: 20px 0 0px 0;
    text-align: center;
    display: block;
    border-radius: 50em;
}

#page-top a:hover {
    text-decoration: none;
    background: rgba(0,0,250,0.9);
}

#page-top a i {
    font-size: 30px;
}


.content-title {
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 10px 0 0 5px;
    font-family: 'Coming Soon', cursive;
    text-align: left;
}

.article-img {
    margin: 0px;
    height: 135px;
    width: 135px;
    border-style: groove;
    border-radius: 50em;
    text-align: center;
    padding-top: 40%;
}

#article-img-github {
    background: url("GitHub-Mark-120px-plus.png") ;
    background-size: cover;
}

.article-img:hover {
    border-color: rgba(0,0,250,0.8);
    background-color: rgba(0,0,250,0.5);
}

.article-title {
    text-align: center;
    font-size: 15px;
}

.article-description {
    text-align: center;
    margin-bottom: 30px;
}

#about-name {
    margin-top: 0;
    padding-top: 0;
}

.skills-table tr {
    height: 30px;
}
.skills-table th {
    width: 100px;
    vertical-align: top;
}
.skills-table td {
    width: 500px;
    vertical-align: top;
}


.form-contact {
    margin:0 10px 30px 10px;
    color: white;
    background-color: rgba(200,200,200,0.8);
}

#inputInquiryContents {
}

.btn-submit {
    margin: 10px 0 400px 10px;
    background-color: rgba(0,0,0,0.6);
    color: white;
}

.btn-submit:hover {
    color: white;
    background-color:rgba(0,0,250,0.9);
}


/* placeholder のフォント設定（ブラウザ別） */
/*input::-webkit-input-placeholder {color: white;}         /* Google Chrome, Safari, Opera 15+, Android, iOS */
/*input:-moz-placeholder {color: white; opacity: 1; }      /* Firefox 18- */
/*input::-moz-placeholder {color: white; opacity: 1; }     /* Firefox 19+ */
/*input:-ms-input-placeholder {color: white; }             /* IE 10+ */


@media (max-width: 768px) {

    header h1.jumbotron-h1 {
        font-family: 'Coming Soon', cursive;
        text-align: center;
        margin: 160px 0 260px 0;
    }

    #menu-wrap .row .menu-button {
        padding: 10px 0 30px 0;    
    }

    #menu-wrap {
        width: 100%;
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        bottom:0px;
        z-index: 9999;
    }
    
    .content-title {
        text-align: center;
    }

    #page-top {
        bottom: 70px;
    }


    
    
}